.bg-member {
    background-color: #fff;
    @include md {
        background: #fff url("../images/bg/bg-member.webp") no-repeat;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    @include xs_lg {
        background-attachment: fixed;
    }
}

.bg-gnerate {
    background-color: $color-bg-yellow;
    @include md {
        background: $color-bg-yellow url("../images/bg/bg-gnerate.webp") no-repeat;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}
.bg-loading {
    background-color: $color-bg-yellow;
    @include md {
        background: $color-bg-yellow url("../images/bg/bg-loading.webp") no-repeat center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}
.bg-submit {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-submit.png") no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    @include md {
        background-size: 100% auto;
    }
}
.bg-prepare-1 {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-prepare.webp") no-repeat center;
    background-size: cover;
    @include md {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center top -74px;
        min-height: calc(100dvh - #{$header-xs});
        // background-attachment: fixed;
    }
}

.bg-prepare-2 {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-2-4-2.webp") no-repeat right -80px top;
    background-repeat: no-repeat;
    min-height: calc(100dvh - #{$header-xs});
    background-size: cover;
    @include lg {
        background-position: center top;
    }

    @include xl {
        background-position: center top -12vh;
    }
}

.bg-prepare-3 {
    background-color: $color-bg-yellow;
    @include md {
        background: $color-bg-yellow url("../images/bg/bg-2-4-3.webp") no-repeat center top;
        background-size: 100% auto;
        background-repeat: no-repeat;
        min-height: calc(100dvh - #{$header-xs});
    }
}

.bg-upload-finish {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-upload-finish.webp") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include md {
        min-height: calc(100dvh - #{$header-xs});
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @include xxl {
        background-position: center top -8vh;
    }
    .recipe {
        align-items: center;
        margin-top: -8vh;
        @include xs_md {
            padding-top: $header-xs * 1;
            padding-bottom: 50px;
            .arrow-box {
                margin-top: $pd-xs;
            }
        }
    }
}
.bg-editing {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-editing.svg") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-mbship {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-mbship.webp") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include xs_lg {
        background-size: contain;
    }
}
.bg-privacy {
    background-color: #fff;
    background: #fff url("../images/bg/bg-privacy.webp") no-repeat center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include xs_lg {
        background: #fff url("../images/bg/bg-privacy.webp") no-repeat center bottom;
        background-size: 100% auto;
    }
}
.bg-faq {
    background-color: #fff;
    background: #fff url("../images/bg/bg-faqs.webp") no-repeat center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include xs_lg {
        background: #fff url("../images/bg/bg-faqs.webp") no-repeat center bottom;
        background-size: 100% auto;
        background-color: #fff !important;
    }
}
.bg-404 {
    background-color: #fff;
    background: #fff url("../images/bg/bg-404.webp") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-mbship-2 {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-mbship-2.webp") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include xs_lg {
        background-position: right top;
    }
}
.bg-mbship-intro {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-mbship-intro.png") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include xs_lg {
        background-position: left top;
    }
}

.bg-3-7-3 {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-3-7-3.webp") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    .gt-body {
        background-color: transparent;
    }
}
.bg-3-7-4 {
    background-color: $color-bg-yellow;
    background: $color-bg-yellow url("../images/bg/bg-3-7-4.webp") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    .gt-body {
        background-color: transparent;
    }
}
.deco-item {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    &:after {
        content: "";
        display: block;
        width: 100%;
    }
    @include xs_lg {
        display: none;
    }
}
.deco-1 {
    width: 20vw;
    right: 0;
    top: -162px;
    background-image: url("../images/bg/bg-finish-top.webp");
    background-position: right top;
    &:after {
        padding-bottom: 143%;
    }
}
.deco-2 {
    width: 20vw;
    left: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-finish-left.webp");
    background-position: left bottom;
    &:after {
        padding-bottom: 216%;
    }
}
.deco-3 {
    width: 19vw;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-finish-right.svg");
    background-position: right bottom;
    &:after {
        padding-bottom: 110%;
    }
}

.deco-4 {
    width: 31.9vw;
    left: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-gnerate-left.webp");
    background-position: left bottom;
    &:after {
        padding-bottom: 154%;
    }
}
.deco-5 {
    width: 26.45vw;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-gnerate-right.webp");
    background-position: right bottom;
    &:after {
        padding-bottom: 186.6%;
    }
}
.deco-6 {
    width: 30vw;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-list-bottom.webp");
    background-position: right bottom;
    &:after {
        padding-bottom: 76%;
    }
}
.deco-7 {
    width: 18.96vw;
    left: 0;
    top: 250px;
    background-image: url("../images/bg/bg-clt-left.webp");
    background-position: left top;
    &:after {
        padding-bottom: 129%;
    }
}
.deco-8 {
    width: 36.38vw;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg/bg-clt-bottom.webp");
    background-position: right bottom;
    &:after {
        padding-bottom: 75.38%;
    }
}
.deco-9 {
    width: 14vw;
    right: 0;
    top: 0;
    background-image: url("../images/item/prd-detail.svg");
    background-position: right bottom;
    z-index: 2;
    &:after {
        padding-bottom: 160%;
    }
}
.deco-10 {
    width: 28.5vw;
    left: 0;
    bottom: 0;
    background-image: url("../images/item/item-feedback.png");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 167%;
    }
}

.deco-11 {
    width: 26.25vw;
    left: 0;
    top: 0;
    background-image: url("../images/item/idxv-1.png");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 45.5%;
    }
}

.deco-12 {
    width: 13.5vw;
    left: 0;
    bottom: 0;
    background-image: url("../images/item/idxv-2.png");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 284%;
    }
}
.deco-13 {
    width: 40.46%;
    right: 0;
    top: 0;
    background-image: url("../images/item/toast-blue.png");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 96%;
    }
}
.deco-14 {
    width: 34.88%;
    left: 0;
    top: 0;
    background-image: url("../images/item/toast-yellow.png");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 83%;
    }
}
.deco-15 {
    width: 31.8%;
    right: 0;
    top: 0;
    background-image: url("../images/item/submit-yellow-chief.svg");
    background-position: left bottom;
    z-index: 0;
    animation: text-step 1s step-start infinite;
    &:after {
        padding-bottom: 123%;
    }
}
.deco-16 {
    width: 31.8%;
    left: 0;
    bottom: 0;
    background-image: url("../images/item/submit-blue-chief.svg");
    background-position: left bottom;
    z-index: 5;
    animation: text-step 1s step-end infinite;
    &:after {
        padding-bottom: 123%;
    }
}
.deco-17 {
    width: 12.5%;
    right: 0;
    bottom: 10%;
    background-image: url("../images/item/big-check.svg");
    background-position: left bottom;
    z-index: 5;

    &:after {
        padding-bottom: 100%;
    }
}
.deco-18 {
    width: 35.4%;
    right: -4%;
    top: 0;
    background-image: url("../images/item/submit-yellow-chief-2.png");
    background-position: left bottom;
    z-index: 0;
    animation: text-step 1s step-start infinite;
    &:after {
        padding-bottom: 110%;
    }
}
.deco-19 {
    width: 38%;
    left: 0;
    bottom: 0;
    background-image: url("../images/item/submit-blue-chief-2.png");
    background-position: left bottom;
    z-index: 5;
    animation: text-step 1s step-end infinite;
    &:after {
        padding-bottom: 107%;
    }
}
.deco-20 {
    width: 13.47vw;
    left: 0;
    bottom: 0;
    background-image: url("../images/item/item-2-6-1.webp");
    background-position: left bottom;
    z-index: 0;
    &:after {
        padding-bottom: 200%;
    }
}
.deco-21 {
    width: 18vw;
    right: 0;
    top: 0;
    background-image: url("../images/item/item-2-6-2.webp");
    background-position: right top;
    z-index: 0;
    &:after {
        padding-bottom: 133%;
    }
}

.deco-22 {
    width: 72%;
    right: 0;
    bottom: 0;

    background-image: url("../images/item/deco-item-37-1.svg");
    background-position: right top;
    z-index: 0;
    &:after {
        padding-bottom: 124%;
    }
}
.deco-23 {
    width: 44.4%;
    left: 0;
    bottom: -20%;
    background-image: url("../images/item/deco-item-37-2.png");
    background-position: right top;
    z-index: 0;
    animation: text-step 1.5s step-end infinite;
    &:after {
        padding-bottom: 187%;
    }
}

.bg-prd-list {
    .container-full{
        z-index: 1;
    }
    .deco-8 {
        z-index: 0;
    }
    .deco-7 {
        z-index: 2;
    }
}
