.btn {
    // height: $form-height;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-family: $font-title;
    font-size: 1em;
    font-weight: 700;
    border-radius: 30px;
    background-color: $color-second;
    padding: 0 1em;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s $ease;
    transition-property: box-shadow, border-color, background-color, color;
    min-width: 110px;
    font-size: 0.875em;
    white-space: nowrap;
    span {
        transition: color 0.3s $ease;
    }
    .icon {
        margin-right: 5px;
        &:before {
            background-color: #fff;
            width: 20px;
            height: 20px;
        }
    }
    &:active {
        background-color: darken($color-second, 8);
    }
    &.btn-large {
        @include xxl {
            height: 64px;
            // font-size: 1.125em;
            padding: 0 2.5em;
            border-radius: 40px;
            .icon {
                margin-right: 6px;
                &:before {
                    width: 28px;
                    height: 28px;
                }
            }
        }
        @include xxxl {
            padding: 0 3.5em;
        }
    }
    &.for-collect {
        padding: 0;
        min-width: initial;
        background-color: transparent;
        color: #000;
        .icon {
            &:before {
                background-color: #000;
            }
        }
        @media (hover: hover) {
            &:hover {
                box-shadow: none;
                color: $color-main;
                .icon {
                    &:before {
                        background-color: $color-main;
                    }
                }
            }
        }
        &.--active {
            .icon {
                &:before {
                    @include iconPos(27);
                }
            }
        }
    }
    &.underline {
        span {
            border-bottom: 1px solid $color-second;
        }
    }
    @include xxxl {
        height: 48px;
        min-width: 130px;
        font-size: 1em;
    }
    @media (hover: hover) {
        &:hover {
            background-color: #eb9100;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
        }
    }
    &.wide {
        padding: 0 2em;
        min-width: 150px;
        @include md {
            min-width: 180px;
        }
    }
    &.border {
        border: 4px solid $color-border;
        background-color: #fff;
        color: #000;

        .icon {
            &:before {
                background-color: #000;
            }
        }
        @media (hover: hover) {
            &:hover {
                box-shadow: none;
                border-color: $color-main-light;
                color: $color-main;
                .icon {
                    &:before {
                        background-color: $color-main;
                    }
                }
            }
        }
        &:active {
            border-color: $color-main;
            background-color: $color-main-light;
            color: $color-main;
            .icon {
                &:before {
                    background-color: $color-main;
                }
            }
        }
    }
    &.border-blue {
        border: 4px solid $color-main-light;
        background-color: #fff;
        color: $color-main;

        .icon {
            &:before {
                background-color: $color-main;
            }
        }
        @media (hover: hover) {
            &:hover {
                box-shadow: none;
                border-color: $color-main;
                color: $color-main;
                background-color: #fff;
                .icon {
                    &:before {
                        background-color: $color-main;
                    }
                }
            }
        }
        &:active {
            border-color: $color-main;
            background-color: $color-main-light;
            color: $color-main;
            .icon {
                &:before {
                    background-color: $color-main;
                }
            }
        }
    }
    &.border-orange {
        border: 4px solid $color-second-light;
        background-color: #fff;
        color: $color-second;

        .icon {
            &:before {
                background-color: $color-second;
            }
        }
        @media (hover: hover) {
            &:hover {
                box-shadow: none;
                border-color: $color-second;
                color: $color-second;
                background-color: #fff;
                .icon {
                    &:before {
                        background-color: $color-second;
                    }
                }
            }
        }
        &:active {
            border-color: $color-second;
            background-color: $color-second-light;
            color: $color-second;
            .icon {
                &:before {
                    background-color: $color-second;
                }
            }
        }
    }
    &.blue {
        background-color: $color-main;
        .icon {
            &:before {
                background-color: #fff;
            }
        }
        &.underline {
            span {
                border-color: $color-main;
            }
        }
        @media (hover: hover) {
            &:hover {
                background-color: darken($color-main, 8);
            }
        }
        &:active {
            background-color: $color-main-dark;
        }
    }
    &.brown {
        background-color: $color-second-dark;
        .icon {
            &:before {
                background-color: #fff;
            }
        }
        &.underline {
            span {
                border-color: $color-second-dark;
            }
        }
        @media (hover: hover) {
            &:hover {
                background-color: darken($color-second-dark, 8);
            }
        }
        &:active {
            background-color: $color-second-dark;
        }
    }
    &.gray {
        background-color: #f5f5f5;
        color: #9e9e9e;
        .icon {
            &:before {
                background-color: #9e9e9e;
            }
        }
        &.underline {
            span {
                border-color: #9e9e9e;
            }
        }
        &:active {
            background-color: darken(#f5f5f5, 5);
        }
    }

    span {
        & + .icon {
            margin-left: 5px;
            margin-right: 0;
        }
    }
    &.square {
        width: 40px;
        padding: 0;
        border: 4px solid $color-border;
        border-radius: $rd-form;
        min-width: initial;
        @include xxl {
            width: 54px;
            height: 54px;
        }
    }
    &.text {
        background-color: transparent;
        color: #000;
        white-space: nowrap;
        min-width: initial;
        font-weight: normal;
        padding: 0;
        .icon {
            &:before {
                background-color: #000;
            }
        }

        &.underline {
            span {
                border-color: #000;
            }
        }
        & + .text {
            margin-left: $pd-xs;
        }

        &.blue {
            color: $color-main;
            .icon {
                &:before {
                    background-color: $color-main;
                }
            }
            @media (hover: hover) {
                &:hover {
                    color: $color-main-dark;
                    .icon {
                        &:before {
                            background-color: $color-main-dark;
                        }
                    }
                }
            }
        }
        @media (hover: hover) {
            &:hover {
                background-color: transparent !important;
                box-shadow: none;
            }
        }
        &.orange {
            color: $color-second;
            .icon {
                &:before {
                    background-color: $color-second;
                }
            }
            @media (hover: hover) {
                &:hover {
                    color: $color-second-dark;
                    .icon {
                        &:before {
                            background-color: $color-second-dark;
                        }
                    }
                }
            }
        }
    }
    &.alert {
        color: $color-alert;
        .icon {
            &:before {
                background-color: $color-alert;
            }
        }
    }
    &.disabled {
        cursor: not-allowed;
        color: $color-disabled;
        background-color: #dfdfdf;

        .icon {
            &:before {
                background-color: $color-disabled;
            }
        }
        &.text {
            background-color: transparent !important;
        }
        &.underline {
            span {
                border: none !important;
            }
        }
        &.border {
            background-color: rgba(#eee, 0.2);
        }
    }
    & + .btn {
        @include xs_md {
            margin-bottom: $pd-xs;
            // &.btn {
            //     margin-bottom: 0;
            // }
        }
        @include md {
            margin-left: $pd-xs;
        }
    }
}

.btn-google {
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: $rd-form;
    border: 1px solid #959595;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    span {
        font-weight: bold;
        font-size: 0.875em;
    }
    img {
        display: block;
        height: 20px;
        width: auto;
        margin-right: 5px;
    }
}

.link {
    color: $color-main;
    position: relative;
    display: inline-block;
    isolation: isolate;
    text-decoration: none;
    width: max-content;
    cursor: pointer;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 0.5em;
        background-color: rgba($color-main, 0.1);
        left: 0;
        bottom: 0.2em;
        position: absolute;
        z-index: -1;
        transform: scaleX(0);
        //  transform-origin: left bottom;
        transition: transform 0.3s $ease;
    }
    &.border {
        border-bottom: 1px solid $color-main;
    }
    &.black {
        color: #000;
        border-color: #000;
        &:before {
            background-color: rgba(#000, 0.1);
        }
    }

    &.orange {
        color: $color-second;
        border-color: $color-second;
        &:before {
            background-color: rgba($color-second, 0.1);
        }
        &.border {
            border-color: $color-second;
        }
    }
    &.gray {
        color: #9e9e9e;
        &:before {
            background-color: rgba(#9e9e9e, 0.1);
        }
        &.border {
            border-color: #9e9e9e;
        }
    }
    & + .link {
        margin-left: 0.5em;
    }

    @media (hover: hover) {
        &:hover {
            &:before {
                transform: none;
            }
        }
    }
}
.btn-play {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 0;
    display: flex;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: clamp(60px, 6vw, 96px);
    height: clamp(60px, 6vw, 96px);
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.35s $ease;
    .icon {
        width: 100%;
        height: initial;
        &:before {
            height: initial;
            width: 100%;
            padding-bottom: 100%;
        }
    }
    @media (hover: hover) {
        &:hover {
            //background-color: $color-main;
            .icon {
                &:before {
                    background-color: $color-second-dark;
                }
            }
        }
    }
}

.btn-member {
    border: none;
    .avatar {
        width: 48px;
        height: 48px;
        border: 3px solid $color-second-light;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xxl {
            width: 56px;
            height: 56px;
            border: 4px solid $color-second-light;
        }
        .level-icon {
            width: 80%;
            display: block;
        }
    }
}
