.gt-header {
    padding-top: $pd-xs * 2;
    padding-bottom: $pd-xs;
    background-color: #fff;
    text-align: center;
}
.gt-body {
    background-color: $color-bg-yellow;
    padding-top: $pd-xs * 1.5;
    position: relative;

    .container-s,
    .container,
    .container-full {
        position: relative;
        z-index: 2;
    }
    .part-top {
        padding-bottom: $pd-xs;
    }
    .btn-area {
        width: 100%;
        padding-top: $pd-xs * 2;
        padding-bottom: $pd-xs * 2;
        align-items: center;
        @include lg {
            padding-bottom: clamp(40px, 8vh, 80px);
        }
        @include xxl {
            padding-bottom: clamp(60px, 12vh, 120px);
        }
    }
    .video-container {
        margin-bottom: $pd-xs;
    }
    &.radius {
        position: relative;
        isolation: isolate;
        background-color: #fff;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 8.33vw 8.33vw 0 0;
            background-color: $color-bg-yellow;
            z-index: -1;
            position: absolute;
        }
    }
}
.gnerate-prepare {
    @include lg {
        display: flex;
        flex-wrap: wrap;
        padding-top: $pd-xs * 2;
        align-items: flex-start;
    }
    .title-holder {
        transform-origin: center center;
        transform: rotate(3deg);
    }
    .deco-chief {
        width: 100%;
        background: url("../images/item/chief.png") no-repeat center;
        background-size: contain;
        animation: scale-chief 1.2s step-end infinite;
        // mix-blend-mode: darken;

        @include lg {
            width: 80%;
            margin: -3vh auto 0;
        }
        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
    }
    .part-left {
        position: relative;
        overflow: hidden;
        display: flex;

        flex-direction: column;
        justify-content: center;
        padding-bottom: $pd-xs;
        position: sticky;
        top: 100px;
        left: 0;

        .fz-B {
            text-align: center;
        }
        @include lg {
            width: calc(100% - 320px);
            flex-shrink: 0;
            padding-right: $pd-xs * 1.5;
        }
        @include xxl {
            width: calc(100% - 360px);
        }
        @include xxxl {
            width: calc(100% - 420px);
        }
    }
    .part-right {
        @include lg {
            width: 320px;
        }
        @include xxl {
            width: 360px;
        }
        @include xxxl {
            width: 420px;
        }
    }
}
@keyframes scale-chief {
    0% {
        transform: scale(0.95) rotate(-10deg);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95) rotate(-10deg);
    }
}
.gnerate-start {
    @include lg {
        display: flex;
        flex-wrap: wrap;
        padding-top: $pd-xs * 2;
    }

    .part-left {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20vh;
        .fz-B {
            text-align: center;
        }
        @include lg {
            width: 52%;
            flex-shrink: 0;
            padding: 0 $pd-xs * 1.5 20vh 0;
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
            transform-origin: left bottom;
            background: url("../images/item/floating-y.svg") no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(0, calc(100% - 20vh));
            animation: floating-y 3s linear infinite;
        }
    }
    .part-right {
        @include lg {
            width: 48%;
        }
    }
    .part-bottom {
        width: 100%;
        border: 4px solid $color-second;
        padding: $pd-xs;
        border-radius: $rd;
        background-color: #fff;
        height: clamp(150px, 28vh, 280px);
        box-sizing: border-box;
        overflow: hidden;
    }
    textarea {
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border-radius: 0;
        font-family: $font-read;
        resize: none;
        width: 100%;
        font-size: 1em;
        line-height: 1.5em;
        height: 100%;
        box-sizing: border-box;
        @include lg {
        }
        @include xxxl {
            font-size: 1.125em;
        }
    }
}
@keyframes floating-y {
    0% {
        transform: translate(0, calc(100% - 20vh));
    }
    50% {
        transform: translate(0, calc(100% - 22vh));
    }
    100% {
        transform: translate(0, calc(100% - 20vh));
    }
}

.loading-holder {
    height: calc(100dvh - #{$header-xs});
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include xxl {
        height: calc(100dvh - #{$header-xxl});
    }
    .cooking {
        width: clamp(360px, 46vw, 960px);
        position: relative;
        margin-bottom: 1.5vh;
        // background: url("../images/item/cooking.webp") no-repeat center center;
        // background-size: contain;
        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 61%;
        }
    }
    .yellow {
        width: 50%;
        background: url("../images/item/cooking-yellow.png") no-repeat center center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        animation: swing-slash-left 1.2s step-end infinite forwards;
        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 99%;
        }
    }
    .blue {
        width: 53.6%;
        background: url("../images/item/cooking-blue.png") no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        animation: swing-slash-right 1.2s step-end infinite forwards reverse;
        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 109%;
        }
    }
    .fz-B {
        @include xs_md {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1.5em;
        }
    }
    .text-loading {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        @include xs_md {
            margin-top: 0.5em;
        }
        span {
            display: inline-block;
            flex-shrink: 0;
            animation: text-delay 1s linear infinite;
            margin: -0.2em 0.05em 0;
            @for $i from 1 through 8 {
                &:nth-of-type(#{$i}) {
                    animation-delay: 0.1s * ($i - 1);
                }
            }
        }
    }
    .dot-loading {
        @include xs_md {
            margin-top: 5px;
            i {
                background-color: $color-second;
            }
        }
    }
}

.vh-100 {
    height: calc(100dvh - #{$header-xs});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include xxl {
        height: calc(100dvh - #{$header-xxl});
    }
}
.burger {
    background: url("../images/item/hamb.webp") no-repeat center center;
    background-size: contain;
    width: clamp(280px, 32vw, 800px);
    position: relative;
    z-index: 3;
    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 67.2%;
    }
}
.submit-holder {
    position: relative;
    padding: 8% 4vw 0;
    .deco-item {
        display: block;
    }
    .arrow-box {
        position: absolute;
        z-index: 6;
        left: 50%;
        transform: translate(-50%, -180%);

        @include lg {
            transform: translate(-50%, -240%);
        }
    }
    .fz-A {
        position: absolute;
        z-index: 6;
        transform-origin: center center;
        left: 34%;
        top: 18%;
        transform: translate(-50%, -50%) rotate(-28deg);
    }
}

.dot-loading {
    display: inline-flex;
    height: 1.125em;
    align-items: center;
    vertical-align: middle;
    i {
        display: block;
        background-color: $color-black;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        margin: 0 4px 2px;
        flex-shrink: 0;
        animation: dot-delay 1.8s $ease infinite;
        @for $i from 1 through 8 {
            &:nth-of-type(#{$i}) {
                animation-delay: 0.1s * ($i - 1);
            }
        }
    }
}

@keyframes dot-delay {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
@keyframes text-delay {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.35em);
    }

    100% {
        transform: translateY(0);
    }
}
.gnerate-finish {
    .part-bottom {
        padding-top: $pd-xs * 2;
        padding-bottom: $pd-xs;
    }
    .btn-area {
        @include xs_md {
            flex-wrap: wrap;
            padding-bottom: $pd-xs * 3;
            .btn {
                margin-bottom: 0;
            }
        }
        .desc {
            @include xs_md {
                width: 100%;
                text-align: center;
                padding-bottom: 0.5em;
            }
            @include md {
                padding-right: 1em;
            }
        }
    }
}

.dialogue-1 {
    position: absolute;
    left: 10%;
    top: 0;
    transform: translate(-50%, 50%) rotate(-22deg);
    animation: swing 1.5s step-end infinite;
    @include lg_xl {
        top: -5vh;
    }
    @include xl_xxl {
        top: -3vh;
    }
    @include xxxl {
        top: 4vh;
    }
}
@keyframes swing {
    0% {
        transform: translate(-50%, 50%) rotate(-22deg);
    }
    50% {
        transform: translate(-50%, 50%) rotate(-30deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(-22deg);
    }
}
.swing-slash-left {
    margin-right: 0.2em;
    display: inline-block;
    transform-origin: center;
    font-family: $font-en;
    animation: swing-slash-left 1.25s step-end infinite;
}
.swing-slash-right {
    margin-left: 0.2em;
    transform-origin: center;
    display: inline-block;
    font-family: $font-en;
    animation: swing-slash-right 1.25s step-end infinite;
}
@keyframes swing-slash-left {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes swing-slash-right {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}

.your-chief-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 30px - #{$header-xs});
    @include xxl {
        height: calc(100dvh - 30px - #{$header-xxl});
    }
    .text-holder {
        padding: $pd-xs 0;

        @include md {
            padding: $pd-xs * 2 0 0;
        }
    }
    .fz-A {
        display: flex;
        align-items: center;
        justify-content: center;
        @include xs_lg {
            flex-direction: column;
        }
        @include lg {
            flex-direction: row;
        }
    }
    .border {
        width: 2em;
        border-top: 4px solid #000;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5em;
        @include xs_sm {
            display: none;
        }
    }
}
.your-chief {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 8vh 0 3vh;
    .item {
        flex: 1;
        position: relative;
        isolation: isolate;
        padding-bottom: $pd-xs / 2;

        &:after {
            content: "";
            display: block;
            width: 80%;
            height: $pd-xs;
            background-color: #ffdfaf;
            position: absolute;
            border-radius: 50%;
            left: 10%;
            bottom: 0;
            z-index: -1;
        }
        &.main-item {
            flex: 2;
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 60vh;
                position: absolute;
                z-index: -1;
                background-color: #fff;
                clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                left: 0;
                bottom: 0;
            }
            &:after {
                width: 100%;
                height: $pd-xs * 3;
                background-color: #fff;
                left: 0%;
                transform: translateY(50%);
            }
        }
        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }
    .chief {
        width: 80%;
        margin: 0 auto;
    }
}

.recipe {
    @include lg {
        display: flex;
        align-items: flex-start;
    }
    .left {
        @include lg {
            position: sticky;
            top: $header-lg + 30px;
            width: 36%;
            flex-shrink: 0;
            padding-right: $pd-xs * 2;
        }
        @include xxl {
            top: $header-xxl + 40px;
        }
        .title-holder {
            transform: rotate(3deg);
            //  animation: text-step 1.25s step-end infinite;
        }
        .chief-holder {
            width: 80%;
            max-width: 360px;
            margin: $pd-xs * 2 auto 0;
            position: relative;
            padding-bottom: $pd-xs / 2;
            .chief {
                animation: text-step 1.5s step-end infinite reverse;
            }
            &:after {
                content: "";
                display: block;
                width: 80%;
                height: $pd-xs;
                background-color: rgba(#a8834c, 0.2);
                position: absolute;
                border-radius: 50%;
                left: 10%;
                bottom: 0;
                z-index: -1;
            }
            @include lg {
                width: 90%;
            }
        }
    }
    .right {
        @include lg {
            width: 64%;
            flex-shrink: 0;
        }
        .arrow-box {
            margin-bottom: $pd-xs;
            @include md {
                margin-bottom: $pd-xs * 1.5;
            }
        }
    }
}

@keyframes text-step {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.recipe-item-container {
    counter-reset: bignum;
    overflow: hidden;
    @include xs_lg {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.recipe-item {
    position: relative;
    padding: 0 0 50px 40px;
    @include md {
        padding: 0 0 50px 70px;
    }
    &:before {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.375em;
        height: 1.375em;
        border: 3px solid $color-second-dark;
        background-color: $color-second;
        color: $color-second-dark;
        font-size: 1em;
        border-radius: 50%;
        counter-increment: bignum;
        /*第一種寫法*/
        content: counter(bignum);
        font-family: $font-en;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0.3em;
        z-index: 3;
        @include md {
            top: 0.7em;
            font-size: 1.125em;
            border-width: 4px;
        }
        @include xxl {
            top: 1em;
        }
    }
    &:after {
        content: "";
        display: block;
        width: 3px;
        height: calc(100% - 1.5em);
        height: 100%;
        top: 1.5em;
        border-left: 3px dashed $color-second-dark;
        position: absolute;
        left: 0.8em;
        @include md {
            left: 0.9em;
            width: 4px;
            border-left: 4px solid $color-second-dark;
        }
    }
    &.no-after {
        &:after {
            display: none;
        }
    }
    textarea {
        border-radius: 30px;
        border-width: 2px;
    }

    input {
        flex: 1;
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border-radius: 0;
        line-height: 40px;
        box-sizing: border-box;
        border: 2px solid $color-border;
        background-color: #fff;
        font-size: 1em;
        border-radius: 30px;
        padding: 0 1em;
        width: 100%;

        // @include xxxl {
        //     font-size: 1.25em;
        // }
        &[type="color"] {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            opacity: 0;
            cursor: pointer;
            position: relative;
            z-index: 2;
            @include xxl {
                width: 54px;
                height: 54px;
            }
            @media (hover: hover) {
                &:hover {
                    & + .custom {
                        .icon {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &[type="radio"],
        &[type="checkbox"] {
            & + label {
                font-size: 1em;
                &:before {
                    @include xxl {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                @include xxl {
                    font-size: 1.125em;
                }
            }
            &:checked + label {
                &:before {
                    border-color: $color-second-dark;
                    background-color: $color-second-dark;
                    @include xxl {
                        background-position: left 4px center;
                    }
                }
            }
        }
        @include xxl {
            font-size: 1.125em;
            line-height: 50px;
            height: 54px;
        }
    }
    select {
        border-radius: 30px;
        border-width: 2px;
        padding-left: 1em;
        font-size: 1em;
        height: 40px;

        @include xxl {
            //line-height: 50px;
            height: 54px;
            font-size: 1.125em;
        }
    }
    .value {
        .item {
            position: relative;
            display: inline-flex;
            & + .item {
                margin-left: 8px;
            }
        }
    }
    .custom {
        width: 100%;
        height: 100%;
        border-radius: $rd-form * 2;
        background-color: $color-second-dark;
        border: 3px solid white;
        left: 0;
        top: 0;
        cursor: pointer;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            opacity: 0.5;
        }
    }
    .arrow-box {
        @include xs_sm {
            border: none;
            background-color: transparent;
            padding: 0;
            margin-left: 0;
            &::before,
            &:after {
                display: none;
            }
        }
    }
    .order-input {
        counter-reset: num;
        width: 100%;

        li {
            display: block;
            display: flex;
            align-items: center;
            padding-bottom: $form-gap;
            width: 100%;
            &::before {
                counter-increment: num;
                /*第一種寫法*/
                content: counter(num) ". ";
                /*用0當前綴*/
                content: counters(num, decimal-leading-zero);
                font-family: $font-en;
                font-size: 1.25em;
                font-weight: bold;
                color: $color-second-dark;
                margin-right: 0.5em;
            }
        }
    }
    .btn {
        @include xxl {
            height: 54px;
        }
    }
    &.btn-area {
        &:before,
        &:after {
            display: none;
        }
        @include lg {
            justify-content: flex-end;
        }
        .btn-large {
            @include xxl {
                height: 64px;
            }
        }
        @include xs_lg {
            padding: 0 $pd-xs;
        }
        .btn {
            @include xs_lg {
                margin-bottom: 0;
                & + .btn {
                    margin-left: $gap;
                }
            }
        }
    }
    .form-item {
        // margin-bottom: $form-gap * 2;
        margin: 0 0 $form-gap * 2;
        input {
            border-radius: 30px;
            @include xxl {
                line-height: 50px;
                height: 54px;
            }
        }

        .field {
            display: flex;
            align-items: center;
            font-size: 1.125em;
            font-weight: bold;
            color: $color-second-dark;
            @include md {
                width: 140px;
            }
            @include xxl {
                font-size: 1.25em;
            }
        }
    }
}

.fake-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    input {
        visibility: hidden;
        position: absolute;
        left: 0;
    }
}
.remarker {
    display: flex;
    align-items: center;
    margin-left: 1em;
    .icon {
        margin-right: 3px;
    }
}

.video-editing {
    @include lg {
        display: flex;
        flex-wrap: wrap;
    }
    .top-area {
        width: 100%;
        position: relative;
        isolation: isolate;
        margin-bottom: $pd-xs;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: calc(100% - 1.75em);
            background-color: #fff;
            border-radius: $rd;
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            box-shadow: $shadow;
        }
        .fz-B {
            position: relative;
            z-index: 2;
        }
        .text-holder {
            position: relative;
            padding: $pd-xs;
            z-index: 2;
            text-align: center;
        }
    }
    .left-area {
        border: 2px solid #000;
        border-radius: $rd;
        background-color: #fff;
        padding: $gap;
        @include md {
            padding: $pd-xs;
        }
        @include lg {
            width: calc(68.4% - #{$pd-xs});
            margin-right: $pd-xs;
        }
        @include xxl {
            padding: $pd-xs * 1.25;
        }
    }
    .right-area {
        border: 2px solid $color-second;
        border-radius: $rd;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        min-height: 400px;

        @include xs_lg {
            margin-top: $pd-xs;
        }
        @include lg {
            width: 31.6%;
        }
    }
    .btn-area {
        width: 100%;
        @include xs_md {
            flex-direction: column;
            .btn {
                margin-bottom: $gap;
                width: 100%;
            }
        }
    }
    .video-container {
        margin: $pd-xs auto;
        @include xs_sm {
            width: 100vw;
            margin-left: -34px;
        }
    }
    .fn-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &.only-video {
        @include lg {
            display: block;
        }
        .left-area {
            margin: 0 auto;
            width: 100%;
        }
        .top-text-area {
            position: relative;

            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: $pd-xs;
            margin-top: 1.5vw;
            z-index: -1;
            .deco-chief {
                position: relative;
                width: 20vw;

                transform: translateY(9.5vw);
                @include xxxl {
                    max-width: 320px;
                    transform: translateY(150px);
                }
                .deco-item {
                    @include xs_lg {
                        display: block;
                    }
                }
            }
            .fz-B {
                width: max-content;
            }
        }
    }
}
.timeline {
    height: 100%;
    overflow: auto;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: $pd-xs 0 $pd-xs $pd-xs;
}
.tl-item {
    position: relative;
    border-bottom: 1px solid $color-border;
    padding-left: 60px;
    padding-bottom: $form-gap;
    margin-bottom: $form-gap;
    padding-right: $gap;

    textarea {
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border-radius: 0;
        resize: none;
        background-color: #f5f5f5;
        border-radius: $rd-form;
        width: 100%;
    }
    &:last-of-type {
        border: none;
        margin-bottom: 0;
    }
    p {
        line-height: 1.25em;
    }
    .pick {
        position: absolute;
        left: 0;
        top: -2px;
        font-weight: 600;
    }
    .fn {
        display: flex;
        justify-content: flex-end;
    }
    &.mega {
    }
}
