.level-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: clamp(100px, 16%, 240px);
    flex-shrink: 0;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 99.2%;
    }
    &.level-0 {
        background-image: url("../images/level-0.svg");
    }
    &.level-1 {
        background-image: url("../images/level-1.svg");
    }
    &.level-2 {
        background-image: url("../images/level-2.svg");
    }
    &.level-3 {
        background-image: url("../images/level-3.svg");
    }
    &.level-4 {
        background-image: url("../images/level-4.svg");
    }
}
.mb-level {
    display: flex;
    margin-bottom: $pd-xs;
    @include xs_lg {
        flex-direction: column;
        align-items: center;
        padding: $pd-xs;
        position: relative;
        isolation: isolate;
        margin-bottom: $pd-xs * 2;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: calc(100% - 80px);
            background-color: #eee;
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            border-radius: $rd;
            border-top: 6px solid #eee;
            background: linear-gradient(to bottom, #f8f8f8, #efefef);
            box-sizing: border-box;
        }
    }
    @include lg {
        border: 1px solid $black30;
        border-radius: $rd;
        background-color: #fff;
        padding: $pd-xs;
        align-items: center;
        margin-bottom: $pd-xs * 1.5;
    }
    .level-icon {
        @include xs_md {
            margin-bottom: 20px;
        }

        @include xxl {
            margin: 0 25px 0 10px;
        }
    }
    .level-info {
        ul {
            display: flex;
            flex-wrap: wrap;
            @include xs_xl {
                flex-direction: column;
            }
        }
        .value {
            strong {
                @include xs_md {
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.375em;
                }
            }
            .fc-gray {
                @include xs_md {
                    color: #000 !important;
                }
            }
        }
        .field {
            @include xs_xl {
                min-width: 80px;
            }
            @include xs_md {
                position: relative;
                display: flex;
                align-items: center;
                color: #777;
                padding-top: 10px;
                font-size: 0.875em !important;
                &:after {
                    content: "";
                    display: block;
                    height: 1px;
                    flex: 1;
                    border-top: 1px dashed #ccc;
                }
            }
        }
        li {
            @include md {
                display: flex;

                align-items: flex-end;
            }
            @include xl {
                width: 50%;
                &:last-of-type {
                    width: 100%;
                    border-top: 1px solid $black30;
                    margin-top: 10px;
                    padding-top: 10px;
                }
                &.expire {
                    justify-content: flex-end;
                    display: flex;
                    .field,
                    .value,
                    .fc-gray {
                        line-height: 1.5em;
                        letter-spacing: 0.5px;
                        @include xxxl {
                            font-size: 0.875em;
                        }
                    }
                }
            }
        }
    }
}

.collect-item {
    @include xs_lg {
        border-radius: $rd;
        overflow: hidden;
        box-shadow: $shadow;
        border: 1px solid $color-border;
        margin-bottom: $pd-xs;

        border-bottom: 5px solid #eee;
    }
    @include lg {
        display: flex;
        border-bottom: 1px solid $color-border;
        padding-bottom: $pd-xs;
        margin-bottom: $pd-xs;
        align-items: flex-start;
    }
    h6 {
        line-height: 1.5em;
        padding-bottom: 0.5em;
    }
    p {
        display: block;
        padding-bottom: 1em;
    }
    .btn {
        & + .btn {
            margin-left: 10px;
        }
        @include xs_lg {
            padding: 0 1em;
            flex: 1;
        }
    }

    .img-holder {
        overflow: hidden;

        @include lg {
            border-radius: $rd;
            width: 37%;
            flex-shrink: 0;
        }
    }
    .text-holder {
        @include xs_lg {
            padding: $gap $gap 0;
            background-color: #fff;
        }
        @include md_lg {
            padding: $gap;
            background-color: #fff;
        }
        @include lg {
            padding-left: $pd-xs;
        }
    }
}
.collection-container {
    padding-top: $pd-xs;
}

.mb-benefits {
    background-color: #fff;
    border-radius: 0px 0px 2.7vw 2.7vw;
    padding: $pd-xs;
    border-top: 5px solid $color-second;
    box-shadow: $shadow;

    @include md {
        padding: $pd-xs * 2 30px;
    }
    @include xxxl {
        padding: $pd-xs * 2 60px;
    }
    /* Rectangle 82 */
}

.upgrade-container {
    min-height: calc(100dvh - #{$header-xs} - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include md {
        padding-top: 30vh;
    }
    @include xxl {
        min-height: calc(100dvh - #{$header-xxl} - 30px);
    }
    .rel-position {
        isolation: isolate;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 80vw;
            padding-bottom: 80vw;
            background-color: rgba(#ffdf91, 0.4);
            position: absolute;
            border-radius: 50%;
            z-index: -1;
            left: 50%;
            top: calc(50% - 10vh);
            transform: translate(-50%, -50%);
            @include lg {
                width: 70vh;
                padding-bottom: 70vh;
            }
        }
    }
    .info-holder {
        border-radius: $rd;
        background-color: #fff;
        border-radius: $rd;
        padding: $pd-xs;
        border: 4px solid $color-second-dark;
        position: relative;
        z-index: 2;
        text-align: center;
        // width: max-content;
        margin: 0 auto;

        //max-width: 90vw;
        @include md {
            padding: $pd-xs * 2;
            // max-width: 70vw;
        }
        @include xxl {
            padding: $pd-xs * 2 $pd-xs * 4;
        }
        ul {
            margin: 0 auto;
        }
        li {
            text-align: left;
        }
        .fz-B {
            margin-bottom: 1em;
        }
    }
    .btn-area {
        position: relative;
        z-index: 2;
    }
    .level-icon {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -70%);
        z-index: -1;
        width: clamp(180px, 24vw, 380px);
    }
}

.upgrade-progress {
    padding-bottom: $pd-xs * 2;
    .top-text-area {
        position: relative;
        padding-top: $pd-xs;
        .text-holder {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .level-holder {
            position: absolute;
            left: 0;
            top: 0;
            width: clamp(100px, 12vw, 240px);

            @include md {
                left: 5%;
                top: 50%;
                transform: translateY(-45%);
            }
            @include md_lg {
                width: clamp(170px, 12vw, 240px);
                transform: translateY(-42%);
                left: 2%;
            }
            @include lg {
                width: clamp(160px, 12vw, 240px);
                left: -2%;
                transform: translateY(-42%);
            }
            @include xl {
                left: 5%;
                top: 50%;
                transform: translateY(-45%);
            }
            .level-icon {
                width: 100%;
            }
        }
    }
    .btn-area {
        padding: $pd-xs 0 !important;
    }
}
.appointment-container {
    padding-bottom: $pd-xs * 2;
    @include md {
        padding-top: $pd-xs;
        padding-bottom: $pd-xs * 3;
    }
}
.appointment-header {
    background: $color-second-dark url("../images/bg/bg-apo.svg") no-repeat right center;
    background-size: auto 100%;
    height: 120px;
    padding: $pd-xs;
    color: #fff;
    display: flex;
    align-items: center;
    @include md {
        padding: $pd-xs * 2;
    }
    @include xxxl {
        height: 150px;
    }
}
.appointment {
    background-color: #fff;
    overflow: hidden;
    border-radius: $rd;
    box-shadow: $shadow;

    .form-container {
        padding: $pd-xs;
        @include md {
            padding: $pd-xs * 2;
        }
    }

    .btn-area {
        padding-top: 0 !important;
        padding-bottom: $pd-xs * 2 !important;
    }
}

.mbship-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    margin: 0 6px;
    border-bottom: 18px solid #d8d2cb;
    overflow: hidden;
    @include xs_lg {
        min-width: 220px;
    }
    > li {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: $pd-xs;
        min-height: 7em;
        @include lg {
            min-height: 10em;
        }
        &:after {
            content: "";
            display: block;
            width: calc(100% - #{$pd-xs * 2});
            height: 1px;
            border-bottom: 1px solid $color-border;
            position: absolute;
            left: $pd-xs;
            bottom: 0;
        }
        &:last-of-type {
            &:after {
                display: none;
            }
        }
        &.intro {
            height: 16em;
            @include md {
                height: 18em;
            }
            & + li {
                min-height: 10em;
            }
            .fz-B {
                margin-bottom: 1em;
                color: $color-second-dark;
            }
            &:after {
                display: none;
            }
        }
    }
    .level-icon {
        display: block;
        margin-bottom: 1em;
    }

    strong {
        font-weight: bold;
        font-size: 1.25em;
    }
    &.order-1 {
        border-radius: 40px 0 0 40px;

        > li {
            &.intro {
                background-color: #d8d2cb;
            }
        }
    }
    &.order-2 {
        border-radius: 0 40px 40px 0;
        border-color: #fbd496;
        > li {
            &.intro {
                background-color: #fbd496;
            }
        }
    }
    &.order-3 {
        border-radius: 40px 0 0 40px;
        border-color: $color-second;
        box-shadow: rgba($color-second, 0.5) 0px 7px 20px 0px;
        > li {
            &.intro {
                background-color: $color-second;
            }
        }
    }
    &.order-4 {
        border-radius: 0;
        border-color: $color-second;
        box-shadow: rgba($color-second, 0.5) 0px 7px 20px 0px;
        > li {
            &.intro {
                background-color: $color-second;
            }
        }
    }
    &.order-5 {
        border-radius: 0 40px 40px 0;
        border-color: $color-second;
        box-shadow: rgba($color-second, 0.5) 0px 7px 20px 0px;
        > li {
            &.intro {
                background-color: $color-second;
            }
        }
    }
}
.mbship-container {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: $pd-xs * 2.5;

    @include xs_lg {
        overflow-x: auto;
        padding-left: $pd-xs;
        padding-right: $pd-xs;
    }
    @include lg {
        width: 88%;
        min-width: 960px;
        margin: 0 auto;
    }
    @include xl {
        width: 80%;
        min-width: 960px;
    }
    @include xxl {
        width: 70%;
        min-width: 1200px;
        padding-bottom: $pd-xs * 3;
    }
    @include xxxl {
        min-width: 1400px;
    }
    .group-title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: $gap;
        position: absolute;
        left: 0;
        top: 0;
        .fz-C {
            width: 25%;
            text-align: center;
        }
        &.has-text {
            &:before,
            &:after {
                content: "";
                display: block;
                width: 20%;
                height: 30%;
                flex-shrink: 0;
                border-top: 2px solid $color-second-dark;
            }
            &:before {
                border-left: 2px solid $color-second-dark;
            }
            &:after {
                border-right: 2px solid $color-second-dark;
            }
        }
    }
    .group-1 {
        flex: 2;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 50px;
        position: relative;
    }
    .group-2 {
        flex: 3;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 50px;
        position: relative;
    }
}
